In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("database1.xlsx")

In [6]:
df_test=df.copy()

In [7]:
df_test.head()

,N°,NOMS DES ENTREPRISES,DUREE MAX,Taux Découvert,Taux Cresco,Taux Amort.,Rating,OBSERVATIONS
0,1,Access Bank,84 mois,0.145,0.1075,0.080,A,Ancienneté>= à 5ans pour tous financements de ...
1,2,ACMS,60 Mois,0.145,0.1075,0.080,A,Dans la limite du contrat ou du projet sur leq...
2,3,ADIALEA,60 mois,0.145,0.1075,0.080,A,NaN
3,4,ADVANCED MARITIME TRANSPORT (AMT),60 Mois,0.145,0.1075,0.085,A,Durée = Ancienneté + 2
4,5,AFRICAN GLOBAL LOGISTICS,60 mois,0.145,0.1075,0.085,A,NaN

In [18]:
df_test["DUREE MAX"]=df_test["DUREE MAX"].apply(lambda x: x.replace("SUSPENDU",""))

In [22]:
df=df_test.copy()